.line {
  background-color: rgb(45, 99, 200);
  width: 1250px;
  height: 3px;
}

.objective {
  color: rgb(45, 99, 200);
  font-weight: bold;
  font-size: 120%;
  font-style: italic;
  margin-top: 10px;
}

h2 {
  color: rgb(45, 99, 200);
  margin-bottom: 5px;
  margin-left: 10px;
}

h1 {
  color: rgb(45, 99, 200);
  font-size: 210%;
  font-weight: bold;
  margin-bottom: 0px;
}

.header-faded {
  color: rgb(119, 126, 139);
}

.date {
  color: rgb(119, 126, 139);
  margin-bottom: 5px;
}

.title {
  font-weight: bold;
}

.body-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.dash {
  width: 15px;
  height: 1px;
  background-color: black;
  margin-right: 20px;
}

li {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 5px;
  font-style: italic;
}

.title-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  height: 20px;
}

.education-content {
  margin-top: 5px;
}

.content-container {
  width: 49%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
